/*
Globals
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: arial;
    font-size: 13px;
}
h2,
h3 {
    font-family: helvetica;
    font-weight: bold;
}
a {
    text-decoration: none;
}

/*
Header
*/
header{
    background: black;
    
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: auto;
    
}

header nav{
    font-size: 16px;
    overflow:hidden;
}

header  ul{
    display:flex;
    align-items: center;
}

header ul li {
    margin-left: 15px;
}
header a{
    color: #fff;
    padding-bottom: 9px;
    
    
}

header .logo a {
    font-size: 40px;
}

.container{
    max-width: 960px;
    width: 100%;
    
}
 /*MAIN*/
 main{
     padding: 35px 32px;

 }
 main section{
     margin-bottom: 70px;
 }
 main .container{
        max-width: 960px;
        width: 100%;
        margin: auto;
 }
 .sobre .texto{
     display: flex;
 }

 .sobre figure{
     margin-right: 40px;
 }
 .sobre figure img{
     border-radius: 100%;
     border:7px solid #A4A2A1;
 }

 .sobre figure img:hover{
     border: 7px solid #8A1C3F;

 }

 .sobre p{
     font-size: 18px;
     line-height: 26px;
     margin-bottom: 36px;
 }

 .sobre ul{
     display: flex;
     align-items: center;
 }
 .sobre ul li{
     margin-right: 10px;
 }

